
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,300&display=swap');
body {
    background-color: dimgray;
    font-family:'Poppins', sans-serif;
    color :#2D2D2D;
    font-size: 14px;  
}
.form-control {
    font-size: 14px;
}

@media screen and (min-width: 994px){
.form-control { 
    width: 350px;
}
}


@media screen and (min-width: 994px){
    .media-nav { 
        text-align : center;
    }
    }

    /*style category*/
    .img-categori {
        width :75px;
        height:60px;
        border-radius: 10px;
    }

    .img-categori:hover{
        transform: scale(1.4);
        transition: 0.2s;
    } 

    .row-container {
        background-color: whitesmoke;
        margin: 0px;
    }

    .card p{
        margin-top: -10px;
        margin-bottom: 1px;
    }

    .row .card :hover{
        box-shadow: 2px 2px 2px rgba (0,0,0,0.4);
        transform: scale(1.04)
    }
    
    .carousel-inner{
        border-radius: 25px;
        height: 600px;
    }

    .card-img-top{
        height: 10rem;
        width: 15rem;
        border-radius: 20px;
    }

     